<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AWSProfileName" value="dev-actor" />
		<add key="StdQueueURL" value="https://sqs.ap-southeast-1.amazonaws.com/551639573710/demo-std-queue" />
		<add key="FifoQueueURL" value="https://sqs.ap-southeast-1.amazonaws.com/551639573710/demo-ordered-queue.fifo" />
	</appSettings>
</configuration>